stacks/n8n/workflows/ESPIAO_W2_TRANSCRICAO_VIDEO.json
{
  "name": "Espião W2 — Transcrição de Vídeo Concorrente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espiao-transcricao",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "esp-w2-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "POST { competitor_ad_id: 'uuid' } — disparado manualmente ou pelo W1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "competitor_ads",
        "filters": {
          "conditions": [{ "keyName": "id", "keyValue": "={{ $json.body.competitor_ad_id }}" }]
        }
      },
      "id": "esp-w2-002",
      "name": "Buscar Anúncio Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "competitor_ads",
        "filters": {
          "conditions": [{ "keyName": "id", "keyValue": "={{ $json.id }}" }]
        },
        "fieldsUi": {
          "fieldValues": [{ "fieldId": "status", "fieldValue": "scraping" }]
        }
      },
      "id": "esp-w2-003",
      "name": "Status: Scraping",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "url": "https://api.scrapfly.io/scrape",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key",       "value": "={{ $env.SCRAPFLY_API_KEY }}" },
            { "name": "url",       "value": "={{ $('Buscar Anúncio Supabase').first().json.ad_snapshot_url }}" },
            { "name": "render_js", "value": "true" },
            { "name": "country",   "value": "br" },
            { "name": "asp",       "value": "true" }
          ]
        },
        "options": {}
      },
      "id": "esp-w2-004",
      "name": "Scrapfly — Raspar Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "notes": "Raspa a página do snapshot para encontrar a URL real do vídeo CDN"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.result?.content || '';\n\n// Extrair URLs de vídeo do HTML (padrão Meta CDN)\nconst patterns = [\n  /\"browser_native_hd_url\":\"([^\"]+)\"/,\n  /\"browser_native_sd_url\":\"([^\"]+)\"/,\n  /\"hd_src\":\"([^\"]+)\"/,\n  /\"sd_src\":\"([^\"]+)\"/,\n  /(https:\\/\\/video\\.f[a-z]+[0-9]+\\.fna\\.fbcdn\\.net[^\"'\\s]+\\.mp4[^\"'\\s]*)/,\n  /(https:\\/\\/[a-z0-9-]+\\.fbcdn\\.net[^\"'\\s]+\\.mp4[^\"'\\s]*)/\n];\n\nlet videoUrl = null;\nfor (const pattern of patterns) {\n  const match = html.match(pattern);\n  if (match && match[1]) {\n    videoUrl = match[1].replace(/\\\\\\/g, '/').replace(/\\\\u0025/g, '%');\n    break;\n  }\n}\n\nreturn [{ videoUrl, found: !!videoUrl }];"
      },
      "id": "esp-w2-005",
      "name": "Extrair URL do Vídeo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "check-video", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }]
        }
      },
      "id": "esp-w2-006",
      "name": "Vídeo Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "={{ $('Extrair URL do Vídeo').first().json.videoUrl }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "esp-w2-007",
      "name": "Download Vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "notes": "Baixa o vídeo como binário para passar ao Whisper"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": { "language": "pt" }
      },
      "id": "esp-w2-008",
      "name": "OpenAI Whisper",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [1780, 200],
      "credentials": { "openAiApi": { "id": "openai-planopratico", "name": "OpenAI PlanoPratico" } }
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "competitor_transcripts",
        "conflictColumns": "competitor_ad_id",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "competitor_ad_id", "fieldValue": "={{ $('Buscar Anúncio Supabase').first().json.id }}" },
            { "fieldId": "transcript_raw",   "fieldValue": "={{ $json.text }}" },
            { "fieldId": "language",         "fieldValue": "pt" }
          ]
        }
      },
      "id": "esp-w2-009",
      "name": "Salvar Transcrição",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "competitor_ads",
        "filters": {
          "conditions": [{ "keyName": "id", "keyValue": "={{ $('Buscar Anúncio Supabase').first().json.id }}" }]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "cdn_video_url", "fieldValue": "={{ $('Extrair URL do Vídeo').first().json.videoUrl }}" },
            { "fieldId": "status",        "fieldValue": "transcribed" }
          ]
        }
      },
      "id": "esp-w2-010",
      "name": "Status: Transcribed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2220, 200],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "competitor_ads",
        "filters": {
          "conditions": [{ "keyName": "id", "keyValue": "={{ $('Buscar Anúncio Supabase').first().json.id }}" }]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "status",    "fieldValue": "error" },
            { "fieldId": "error_msg", "fieldValue": "Vídeo não encontrado na página do snapshot" }
          ]
        }
      },
      "id": "esp-w2-011",
      "name": "Status: Erro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 440],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, ad_id: $('Buscar Anúncio Supabase').first().json.id, transcribed: true }) }}"
      },
      "id": "esp-w2-012",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 200]
    }
  ],
  "connections": {
    "Webhook Trigger":          { "main": [[{ "node": "Buscar Anúncio Supabase", "type": "main", "index": 0 }]] },
    "Buscar Anúncio Supabase":  { "main": [[{ "node": "Status: Scraping",        "type": "main", "index": 0 }]] },
    "Status: Scraping":         { "main": [[{ "node": "Scrapfly — Raspar Snapshot","type": "main","index": 0 }]] },
    "Scrapfly — Raspar Snapshot":{ "main": [[{ "node": "Extrair URL do Vídeo",   "type": "main", "index": 0 }]] },
    "Extrair URL do Vídeo":     { "main": [[{ "node": "Vídeo Encontrado?",        "type": "main", "index": 0 }]] },
    "Vídeo Encontrado?": {
      "main": [
        [{ "node": "Download Vídeo", "type": "main", "index": 0 }],
        [{ "node": "Status: Erro",   "type": "main", "index": 0 }]
      ]
    },
    "Download Vídeo":           { "main": [[{ "node": "OpenAI Whisper",    "type": "main", "index": 0 }]] },
    "OpenAI Whisper":           { "main": [[{ "node": "Salvar Transcrição","type": "main", "index": 0 }]] },
    "Salvar Transcrição":       { "main": [[{ "node": "Status: Transcribed","type": "main","index": 0 }]] },
    "Status: Transcribed":      { "main": [[{ "node": "Resposta OK",        "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "espiao-w2-transcricao-video"
}
