stacks/n8n/workflows/ESPIAO_W3_ANALISE_ANGULOS.json
{
  "name": "Espião W3 — Análise de Ângulos (Gemini)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "esp-w3-001",
      "name": "Schedule 8h diário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Roda todo dia às 8h — analisa transcrições ainda não processadas"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "competitor_ads",
        "filters": {
          "conditions": [{ "keyName": "status", "keyValue": "transcribed" }]
        },
        "limit": 10
      },
      "id": "esp-w3-002",
      "name": "Buscar Transcritos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": { "options": {} },
      "id": "esp-w3-003",
      "name": "Loop por Anúncio",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "competitor_transcripts",
        "filters": {
          "conditions": [{ "keyName": "competitor_ad_id", "keyValue": "={{ $json.id }}" }]
        }
      },
      "id": "esp-w3-004",
      "name": "Buscar Transcrição",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "jsCode": "const ad = $('Loop por Anúncio').first().json;\nconst transcript = $input.first().json.transcript_raw || '';\n\nconst prompt = `Você é um especialista em copywriting e marketing de resposta direta. Analise a transcrição abaixo de um anúncio de vídeo no nicho de adestramento de cães / comportamento animal e extraia a estrutura de persuasão utilizada.\n\nTranscrição:\n---\n${transcript.substring(0, 4000)}\n---\n\nRetorne APENAS um JSON válido com esta estrutura exata (sem markdown, sem explicações):\n{\n  \"hook\": \"primeiras 2-3 frases do vídeo que capturam atenção\",\n  \"pain_point\": \"principal dor/problema explorado\",\n  \"villain\": \"culpado oculto identificado (ex: método errado, falta de rotina, etc)\",\n  \"mechanism\": \"solução ou mecanismo apresentado como a chave\",\n  \"offer_price\": \"preço mencionado se houver, senão null\",\n  \"price_anchor\": \"ancoragem de preço se houver (ex: de R$97 por R$27), senão null\",\n  \"cta\": \"call to action final\",\n  \"tone\": \"tom predominante: urgencia | empatia | autoridade | curiosidade | medo | aspiracao\",\n  \"duration_estimate\": \"curto (<2min) | medio (2-4min) | longo (>4min)\",\n  \"key_phrases\": [\"3 a 5 frases marcantes do script que poderiam ser reaproveitadas\"]\n}`;\n\nreturn [{ prompt, ad_id: ad.id, page_name: ad.page_name }];"
      },
      "id": "esp-w3-005",
      "name": "Montar Prompt Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "contents",
            "value": "={{ JSON.stringify([{ parts: [{ text: $json.prompt }] }]) }}"
          }]
        },
        "options": {}
      },
      "id": "esp-w3-006",
      "name": "Gemini 2.5 Pro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nconst ad_id = $('Montar Prompt Gemini').first().json.ad_id;\n\nlet parsed;\ntry {\n  const cleaned = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { hook: text.substring(0, 200), parse_error: true };\n}\n\nreturn [{ ...parsed, competitor_ad_id: ad_id }];"
      },
      "id": "esp-w3-007",
      "name": "Parsear Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "competitor_angles",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "competitor_ad_id",  "fieldValue": "={{ $json.competitor_ad_id }}" },
            { "fieldId": "hook",              "fieldValue": "={{ $json.hook }}" },
            { "fieldId": "pain_point",        "fieldValue": "={{ $json.pain_point }}" },
            { "fieldId": "villain",           "fieldValue": "={{ $json.villain }}" },
            { "fieldId": "mechanism",         "fieldValue": "={{ $json.mechanism }}" },
            { "fieldId": "offer_price",       "fieldValue": "={{ $json.offer_price }}" },
            { "fieldId": "price_anchor",      "fieldValue": "={{ $json.price_anchor }}" },
            { "fieldId": "cta",               "fieldValue": "={{ $json.cta }}" },
            { "fieldId": "tone",              "fieldValue": "={{ $json.tone }}" },
            { "fieldId": "duration_estimate", "fieldValue": "={{ $json.duration_estimate }}" },
            { "fieldId": "notes",             "fieldValue": "={{ JSON.stringify($json.key_phrases) }}" }
          ]
        }
      },
      "id": "esp-w3-008",
      "name": "Salvar Ângulo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "competitor_ads",
        "filters": {
          "conditions": [{ "keyName": "id", "keyValue": "={{ $('Montar Prompt Gemini').first().json.ad_id }}" }]
        },
        "fieldsUi": {
          "fieldValues": [{ "fieldId": "status", "fieldValue": "analyzed" }]
        }
      },
      "id": "esp-w3-009",
      "name": "Status: Analyzed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    }
  ],
  "connections": {
    "Schedule 8h diário":  { "main": [[{ "node": "Buscar Transcritos",  "type": "main", "index": 0 }]] },
    "Buscar Transcritos":  { "main": [[{ "node": "Loop por Anúncio",    "type": "main", "index": 0 }]] },
    "Loop por Anúncio":    { "main": [[{ "node": "Buscar Transcrição",  "type": "main", "index": 0 }]] },
    "Buscar Transcrição":  { "main": [[{ "node": "Montar Prompt Gemini","type": "main", "index": 0 }]] },
    "Montar Prompt Gemini":{ "main": [[{ "node": "Gemini 2.5 Pro",      "type": "main", "index": 0 }]] },
    "Gemini 2.5 Pro":      { "main": [[{ "node": "Parsear Resposta",    "type": "main", "index": 0 }]] },
    "Parsear Resposta":    { "main": [[{ "node": "Salvar Ângulo",       "type": "main", "index": 0 }]] },
    "Salvar Ângulo":       { "main": [[{ "node": "Status: Analyzed",    "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "espiao-w3-analise-angulos"
}
