stacks/n8n/workflows/ESPIAO_W1_BUSCA_CONCORRENTES.json
{
  "name": "Espião W1 — Busca de Anúncios Concorrentes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espiao-busca",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "esp-w1-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "POST { keyword: 'adestramento cachorro', limit: 25 }"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v21.0/ads_archive",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{ $env.META_ADS_LIBRARY_TOKEN }}" },
            { "name": "search_terms", "value": "={{ $json.body.keyword }}" },
            { "name": "ad_reached_countries", "value": "[\"BR\"]" },
            { "name": "ad_active_status", "value": "ACTIVE" },
            { "name": "ad_type", "value": "VIDEO" },
            { "name": "fields", "value": "id,page_name,page_id,ad_creative_bodies,ad_snapshot_url,ad_delivery_start_time,ad_delivery_stop_time" },
            { "name": "limit", "value": "={{ $json.body.limit || 25 }}" }
          ]
        },
        "options": {}
      },
      "id": "esp-w1-002",
      "name": "Meta Ads Library API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "notes": "Busca anúncios de vídeo ativos no Brasil pela palavra-chave"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data || [];\nconst keyword = $('Webhook Trigger').first().json.body.keyword;\n\nreturn data.map(ad => ({\n  keyword,\n  ad_id: ad.id,\n  page_name: ad.page_name || '',\n  page_id: ad.page_id || '',\n  ad_text: (ad.ad_creative_bodies || []).join(' ').substring(0, 1000),\n  ad_snapshot_url: ad.ad_snapshot_url || '',\n  ad_start_date: ad.ad_delivery_start_time ? ad.ad_delivery_start_time.split('T')[0] : null,\n  ad_stop_date: ad.ad_delivery_stop_time ? ad.ad_delivery_stop_time.split('T')[0] : null,\n  status: 'discovered'\n}));"
      },
      "id": "esp-w1-003",
      "name": "Mapear Anúncios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "competitor_ads",
        "conflictColumns": "ad_id",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "keyword",          "fieldValue": "={{ $json.keyword }}" },
            { "fieldId": "ad_id",            "fieldValue": "={{ $json.ad_id }}" },
            { "fieldId": "page_name",        "fieldValue": "={{ $json.page_name }}" },
            { "fieldId": "page_id",          "fieldValue": "={{ $json.page_id }}" },
            { "fieldId": "ad_text",          "fieldValue": "={{ $json.ad_text }}" },
            { "fieldId": "ad_snapshot_url",  "fieldValue": "={{ $json.ad_snapshot_url }}" },
            { "fieldId": "ad_start_date",    "fieldValue": "={{ $json.ad_start_date }}" },
            { "fieldId": "status",           "fieldValue": "discovered" }
          ]
        }
      },
      "id": "esp-w1-004",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, found: $input.all().length, keyword: $('Webhook Trigger').first().json.body.keyword }) }}"
      },
      "id": "esp-w1-005",
      "name": "Resposta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger":    { "main": [[{ "node": "Meta Ads Library API", "type": "main", "index": 0 }]] },
    "Meta Ads Library API": { "main": [[{ "node": "Mapear Anúncios",      "type": "main", "index": 0 }]] },
    "Mapear Anúncios":    { "main": [[{ "node": "Salvar no Supabase",     "type": "main", "index": 0 }]] },
    "Salvar no Supabase": { "main": [[{ "node": "Resposta",               "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "espiao-w1-busca-concorrentes"
}
