stacks/n8n/workflows/ESPIAO_W4_GERACAO_SCRIPT.json
{
  "name": "Espião W4 — Geração de Ângulos e Script (Perplexity + Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "espiao-gerar-script",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "esp-w4-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "POST { problem: 'xixi|guia|latido|pulo|destroi|desobedece', script_duration: '1-3min|3-5min', winning_script: '...' (opcional) }"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst problem = body.problem || 'comportamento geral';\n\nconst PRODUCT_CONTEXT = `\nProduto: DogFlow — Desafio de 7 dias de adestramento canino\nPreço: R$27 (72% off de R$97)\nGarantia: 7 dias\nFormato: Desafio com atividades diárias (5-10 min/dia)\nPlataforma: Kiwify\nPúblico: Donos de cães com problemas de comportamento no Brasil\nPromessa principal: Cão obediente e calmo em 7 dias, sem adestrador profissional\nVilão oculto: Os métodos \"de internet\" são inconsistentes e confusos — o cão não aprende uma rotina clara\nMecanismo: Protocolo de 3 comandos base + reforço positivo estruturado em 7 dias\n`;\n\nconst prompt = `Você é um pesquisador especialista em marketing de resposta direta e comportamento do consumidor brasileiro.\n\nPreciso de uma análise profunda do perfil de cliente ideal (ICP) de donos de cães no Brasil que enfrentam o problema específico de: **${problem}**.\n\nFaça uma pesquisa detalhada respondendo:\n1. Perfil demográfico e psicográfico desse dono de cão (idade, renda, rotina, onde mora)\n2. Qual é a dor emocional REAL por trás desse problema (vergonha, frustração, medo de julgamento, etc.)\n3. O que esse dono já tentou antes (e por que não funcionou)\n4. Qual é o momento do dia/semana que essa dor é mais intensa\n5. Que linguagem ele usa para descrever o problema (expressões coloquiais brasileiras)\n6. Qual seria a transformação dos sonhos dele em 30 dias\n7. Que objeções ele teria em comprar um produto de R$27 para resolver isso\n8. Que provas sociais seriam mais convincentes para ele\n\nContexto do produto:\n${PRODUCT_CONTEXT}`;\n\nreturn [{ prompt, problem, body }];"
      },
      "id": "esp-w4-002",
      "name": "Montar Prompt ICP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "body",
            "value": "={{ JSON.stringify({ model: 'sonar-reasoning', messages: [{ role: 'user', content: $json.prompt }], max_tokens: 2000, stream: false }) }}"
          }]
        },
        "options": {
          "headers": {
            "parameters": [
              { "name": "Authorization", "value": "Bearer {{ $env.PERPLEXITY_API_KEY }}" },
              { "name": "Content-Type",  "value": "application/json" }
            ]
          }
        }
      },
      "id": "esp-w4-003",
      "name": "Perplexity — Pesquisa ICP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Perplexity Sonar Reasoning — acessa a web em tempo real para research"
    },
    {
      "parameters": {
        "jsCode": "const perplexityResponse = $input.first().json;\nconst icpResearch = perplexityResponse.choices?.[0]?.message?.content || '';\nconst { problem, body } = $('Montar Prompt ICP').first().json;\n\nconst winningScript = body.winning_script ? `\\n\\nSCRIPT VENCEDOR DE REFERÊNCIA (adapte o estilo, NÃO copie):\\n---\\n${body.winning_script}\\n---` : '';\n\nconst PRODUCT_CONTEXT = `\nProduto: DogFlow — Desafio de 7 dias de adestramento canino\nPreço: R$27 (72% off de R$97)\nGarantia: 7 dias\nFormato: Desafio com atividades diárias (5-10 min/dia)\nPlataforma: Kiwify\nLink de compra: https://pay.kiwify.com.br/dogflow\nVilão oculto: Métodos de internet são inconsistentes — o cão não aprende rotina clara\nMecanismo: Protocolo 3 comandos base + reforço positivo em 7 dias\nBonus: 5 PDFs (guia mordida, latidos, passeios, socializacao, linguagem corporal)\n`;\n\nconst anglesPrompt = `Você é um copywriter especialista em mini VSL para info-produtos de low ticket no Brasil.\n\nGere 5 ÂNGULOS diferentes para anúncios em vídeo do produto abaixo, focando no problema: **${problem}**.\n\nPESQUISA DO CLIENTE IDEAL:\n${icpResearch.substring(0, 2000)}\n\nPRODUTO:\n${PRODUCT_CONTEXT}${winningScript}\n\nPara cada ângulo, retorne um JSON no array com esta estrutura EXATA:\n{\n  \"angle_title\": \"nome curto do ângulo (ex: Vilão do Método)\",\n  \"hook\": \"primeiras 2-3 frases que abrem o vídeo — devem parar o scroll imediatamente\",\n  \"pain_point\": \"dor específica agitada nesse ângulo\",\n  \"villain\": \"culpado oculto identificado (não é o dono, não é o cão)\",\n  \"absolution\": \"absolvição do dono — por que não é culpa dele\",\n  \"mechanism\": \"como o DogFlow resolve (mecanismo único)\",\n  \"social_proof\": \"prova social sugerida para esse ângulo\",\n  \"cta\": \"call to action final\",\n  \"tone\": \"urgencia | empatia | autoridade | curiosidade | aspiracao\",\n  \"emotional_triggers\": [\"lista de gatilhos emocionais\"],\n  \"concept_summary\": \"resumo de 2 linhas do ângulo\"\n}\n\nRetorne APENAS o array JSON, sem markdown, sem explicações.`;\n\nreturn [{ anglesPrompt, icpResearch, problem, body }];"
      },
      "id": "esp-w4-004",
      "name": "Montar Prompt Ângulos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "contents",
            "value": "={{ JSON.stringify([{ parts: [{ text: $json.anglesPrompt }] }]) }}"
          }]
        },
        "options": {}
      },
      "id": "esp-w4-005",
      "name": "Gemini — Gerar Ângulos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '[]';\nconst { icpResearch, problem, body } = $('Montar Prompt Ângulos').first().json;\n\nlet angles;\ntry {\n  const cleaned = text.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  angles = JSON.parse(cleaned);\n  if (!Array.isArray(angles)) angles = [angles];\n} catch(e) {\n  angles = [{ angle_title: 'Parse error', concept_summary: text.substring(0,500), parse_error: true }];\n}\n\nreturn angles.map(a => ({ ...a, problem, icp_research: icpResearch.substring(0, 500), body }));"
      },
      "id": "esp-w4-006",
      "name": "Parsear Ângulos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "our_angles",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "product",          "fieldValue": "dogflow" },
            { "fieldId": "problem",          "fieldValue": "={{ $json.problem }}" },
            { "fieldId": "angle_title",      "fieldValue": "={{ $json.angle_title }}" },
            { "fieldId": "concept_summary",  "fieldValue": "={{ $json.concept_summary }}" },
            { "fieldId": "hook_suggestion",  "fieldValue": "={{ $json.hook }}" },
            { "fieldId": "emotional_triggers","fieldValue": "={{ JSON.stringify($json.emotional_triggers) }}" },
            { "fieldId": "icp_research",     "fieldValue": "={{ $json.icp_research }}" },
            { "fieldId": "vssl_structure",   "fieldValue": "={{ JSON.stringify({ villain: $json.villain, absolution: $json.absolution, mechanism: $json.mechanism, social_proof: $json.social_proof, cta: $json.cta, tone: $json.tone }) }}" },
            { "fieldId": "status",           "fieldValue": "generated" }
          ]
        }
      },
      "id": "esp-w4-007",
      "name": "Salvar Ângulos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "jsCode": "// Pegar o primeiro ângulo salvo para gerar o script\nconst angles = $input.all();\nconst firstAngle = angles[0]?.json;\nconst body = $('Parsear Ângulos').first().json.body;\nconst duration = body.script_duration || '1-3min';\n\nconst scriptPrompt = `Você é um copywriter de elite especializado em Mini VSL (Video Sales Letter) para info-produtos low ticket no Brasil.\n\nEscreva um script COMPLETO de ${duration} para um anúncio em vídeo do DogFlow, usando o ângulo abaixo.\n\nÂNGULO SELECIONADO:\n- Título: ${firstAngle?.angle_title}\n- Hook: ${firstAngle?.hook_suggestion}\n- Dor principal: ${firstAngle?.problem}\n- Vilão oculto: ${JSON.parse(firstAngle?.vssl_structure || '{}').villain || ''}\n- Absolvição: ${JSON.parse(firstAngle?.vssl_structure || '{}').absolution || ''}\n- Mecanismo: ${JSON.parse(firstAngle?.vssl_structure || '{}').mechanism || ''}\n- Prova social: ${JSON.parse(firstAngle?.vssl_structure || '{}').social_proof || ''}\n- CTA: ${JSON.parse(firstAngle?.vssl_structure || '{}').cta || ''}\n\nPRODUTO:\n- DogFlow — Desafio 7 dias de adestramento canino\n- R$27 (72% off de R$97) | Garantia 7 dias | Atividades 5-10 min/dia\n- Bônus: 5 PDFs práticos\n- Link: https://pay.kiwify.com.br/dogflow\n\nESTRUTURA OBRIGATÓRIA DO MINI VSL (5 blocos):\n1. LEAD (Hook + Identificação) — primeiros 20-30s: parar o scroll, identificar o problema\n2. AGITAR — 30-60s: amplificar a dor, nomear o vilão, absolver o dono\n3. AÇÃO ACREDITÁVEL — 60-90s: mecanismo único, por que funciona, prova social\n4. SOLUÇÃO — 90-120s: apresentar o DogFlow, o que está incluso, transformação\n5. OFERTA — últimos 30-40s: preço, âncora, garantia, CTA urgente\n\nINSTRUÇÕES:\n- Tom: conversacional, empático, direto — fala de brasileiro para brasileiro\n- Sem jargão técnico\n- Cada bloco deve ter um [MARCADOR] no início\n- Inclua sugestões de imagem/cena entre (parênteses)\n- Dê o tempo estimado de cada bloco\n- Script pronto para ser gravado por não-ator\n\nEscreva o script completo agora.`;\n\nreturn [{ scriptPrompt, angle_id: firstAngle?.id, duration, problem: firstAngle?.problem }];"
      },
      "id": "esp-w4-008",
      "name": "Montar Prompt Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "contents",
            "value": "={{ JSON.stringify([{ parts: [{ text: $json.scriptPrompt }] }]) }}"
          }]
        },
        "options": {}
      },
      "id": "esp-w4-009",
      "name": "Gemini — Gerar Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "our_scripts",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "angle_id",       "fieldValue": "={{ $('Montar Prompt Script').first().json.angle_id }}" },
            { "fieldId": "product",        "fieldValue": "dogflow" },
            { "fieldId": "version",        "fieldValue": "1" },
            { "fieldId": "script_full",    "fieldValue": "={{ $json.candidates[0].content.parts[0].text }}" },
            { "fieldId": "script_duration","fieldValue": "={{ $('Montar Prompt Script').first().json.duration }}" },
            { "fieldId": "status",         "fieldValue": "draft" }
          ]
        }
      },
      "id": "esp-w4-010",
      "name": "Salvar Script",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2220, 300],
      "credentials": { "supabaseApi": { "id": "supabase-planopratico", "name": "Supabase PlanoPratico" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, angles_generated: $('Parsear Ângulos').all().length, script_saved: true, script_id: $json.id, problem: $('Montar Prompt Script').first().json.problem }) }}"
      },
      "id": "esp-w4-011",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Webhook Trigger":         { "main": [[{ "node": "Montar Prompt ICP",     "type": "main", "index": 0 }]] },
    "Montar Prompt ICP":       { "main": [[{ "node": "Perplexity — Pesquisa ICP", "type": "main", "index": 0 }]] },
    "Perplexity — Pesquisa ICP":{ "main": [[{ "node": "Montar Prompt Ângulos","type": "main", "index": 0 }]] },
    "Montar Prompt Ângulos":   { "main": [[{ "node": "Gemini — Gerar Ângulos","type": "main", "index": 0 }]] },
    "Gemini — Gerar Ângulos":  { "main": [[{ "node": "Parsear Ângulos",       "type": "main", "index": 0 }]] },
    "Parsear Ângulos":         { "main": [[{ "node": "Salvar Ângulos",         "type": "main", "index": 0 }]] },
    "Salvar Ângulos":          { "main": [[{ "node": "Montar Prompt Script",   "type": "main", "index": 0 }]] },
    "Montar Prompt Script":    { "main": [[{ "node": "Gemini — Gerar Script",  "type": "main", "index": 0 }]] },
    "Gemini — Gerar Script":   { "main": [[{ "node": "Salvar Script",          "type": "main", "index": 0 }]] },
    "Salvar Script":           { "main": [[{ "node": "Resposta OK",            "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "espiao-w4-geracao-script"
}
