stacks/n8n/workflows/W1_BOASVINDAS_D0.json
{
  "name": "DogFlow — W1 Boas-vindas D+0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kiwify-compra",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-w1-001",
      "name": "Receber Compra Kiwify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "kiwify-compra"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst event = body.event || body.status;\n\n// Só processar compras aprovadas\nif (!['order_approved', 'paid'].includes(event)) {\n  return [];\n}\n\nconst rawName  = body.Customer?.name  || body.customer?.name  || '';\nconst rawPhone = body.Customer?.mobile || body.customer?.mobile || body.customer?.phone || '';\nconst email    = body.Customer?.email  || body.customer?.email  || '';\nconst orderId  = body.id || body.order_id || '';\n\nconst firstName = rawName.trim().split(' ')[0] || 'Tutor';\nconst phone     = rawPhone.replace(/\\D/g, '');  // apenas dígitos\n\nif (!phone || phone.length < 10) {\n  return [{ json: { skip: true, reason: 'no_phone', email } }];\n}\n\nreturn [{ json: { skip: false, firstName, phone, email, orderId } }];"
      },
      "id": "node-w1-002",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-w1-003",
      "name": "Tem Telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_boas_vindas\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w1-004",
      "name": "WhatsApp Boas-Vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        220
      ]
    }
  ],
  "connections": {
    "Receber Compra Kiwify": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Tem Telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Telefone?": {
      "main": [
        [
          {
            "node": "WhatsApp Boas-Vindas",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "dogflow"
    },
    {
      "name": "pos-venda"
    }
  ]
}