stacks/n8n/workflows/W2_LEMBRETES_D1_D6.json
{
  "name": "DogFlow — W2 Lembretes Diários D+1 a D+6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        },
        "timezone": "America/Sao_Paulo"
      },
      "id": "node-w2-001",
      "name": "Todo dia às 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/purchases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,email,customer_name,customer_phone,purchased_at"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "product",
              "value": "eq.dogflow_7dias"
            },
            {
              "name": "customer_phone",
              "value": "not.is.null"
            },
            {
              "name": "purchased_at",
              "value": "gte.{{ new Date(Date.now() - 7*24*3600*1000).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-w2-002",
      "name": "Buscar Compras Ativas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const purchases = $input.all().map(i => i.json);\nconst now = Date.now();\n\nconst result = [];\nfor (const p of purchases) {\n  if (!p.customer_phone) continue;\n  const purchasedAt = new Date(p.purchased_at).getTime();\n  const elapsedMs = now - purchasedAt;\n  const dayNumber = Math.floor(elapsedMs / 86400000); // dias completos\n\n  // Só processar D+1 a D+6 (D+7 é tratado pelo workflow de oferta)\n  if (dayNumber < 1 || dayNumber > 6) continue;\n\n  result.push({\n    json: {\n      phone:     p.customer_phone,\n      firstName: (p.customer_name || '').split(' ')[0] || 'Tutor',\n      dayNumber,\n      purchaseId: p.id,\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "node-w2-003",
      "name": "Calcular Dia de Cada Compra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-d3",
              "leftValue": "={{ $json.dayNumber }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-w2-004",
      "name": "É Dia 3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_checkin_d3\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w2-005",
      "name": "WhatsApp Check-in D+3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_lembrete_dia\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" },\n          { \"type\": \"text\", \"parameter_name\": \"day_number\", \"text\": \"{{ $json.dayNumber }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w2-006",
      "name": "WhatsApp Lembrete Diário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Todo dia às 9h": {
      "main": [
        [
          {
            "node": "Buscar Compras Ativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Compras Ativas": {
      "main": [
        [
          {
            "node": "Calcular Dia de Cada Compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Dia de Cada Compra": {
      "main": [
        [
          {
            "node": "É Dia 3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Dia 3?": {
      "main": [
        [
          {
            "node": "WhatsApp Check-in D+3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Lembrete Diário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "dogflow"
    },
    {
      "name": "pos-venda"
    }
  ]
}