stacks/n8n/workflows/W3_OFERTA_D7_D14.json
{
  "name": "DogFlow — W3 Oferta Assinatura D+7 e D+14",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        },
        "timezone": "America/Sao_Paulo"
      },
      "id": "node-w3-001",
      "name": "Todo dia às 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/purchases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,email,customer_name,customer_phone,purchased_at,user_id"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "product",
              "value": "eq.dogflow_7dias"
            },
            {
              "name": "customer_phone",
              "value": "not.is.null"
            },
            {
              "name": "purchased_at",
              "value": "gte.{{ new Date(Date.now() - 15*24*3600*1000).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-w3-002",
      "name": "Buscar Compras Elegíveis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const purchases = $input.all().map(i => i.json);\nconst now = Date.now();\n\nconst result = [];\nfor (const p of purchases) {\n  if (!p.customer_phone) continue;\n  const purchasedAt = new Date(p.purchased_at).getTime();\n  const dayNumber   = Math.floor((now - purchasedAt) / 86400000);\n\n  // Só D+7 ou D+14\n  if (dayNumber !== 7 && dayNumber !== 14) continue;\n\n  result.push({ json: {\n    phone:       p.customer_phone,\n    firstName:   (p.customer_name || '').split(' ')[0] || 'Tutor',\n    dayNumber,\n    userId:      p.user_id,\n    purchaseId:  p.id,\n  }});\n}\n\nreturn result;"
      },
      "id": "node-w3-003",
      "name": "Filtrar D+7 e D+14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/subscriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $json.userId }}"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "node-w3-004",
      "name": "Verificar Assinatura Ativa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mescla dados da compra (input anterior) com resultado da consulta de assinatura\nconst purchaseData = $('Filtrar D+7 e D+14').first().json;\nconst subs = $input.all().map(i => i.json);\n\n// Se já tem assinatura ativa, pular\nif (subs.length > 0) return [];\n\nreturn [{ json: purchaseData }];"
      },
      "id": "node-w3-005",
      "name": "Sem Assinatura?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_oferta_assinatura\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" },\n          { \"type\": \"text\", \"parameter_name\": \"day_number\", \"text\": \"{{ $json.dayNumber === 7 ? '7' : '14' }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w3-006",
      "name": "WhatsApp Oferta Assinatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Todo dia às 10h": {
      "main": [
        [
          {
            "node": "Buscar Compras Elegíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Compras Elegíveis": {
      "main": [
        [
          {
            "node": "Filtrar D+7 e D+14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar D+7 e D+14": {
      "main": [
        [
          {
            "node": "Verificar Assinatura Ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Assinatura Ativa": {
      "main": [
        [
          {
            "node": "Sem Assinatura?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Assinatura?": {
      "main": [
        [
          {
            "node": "WhatsApp Oferta Assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "dogflow"
    },
    {
      "name": "pos-venda"
    }
  ]
}