stacks/n8n/workflows/W4_RECUPERACAO_CARRINHO.json
{
  "name": "DogFlow — W4 Recuperação de Carrinho",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kiwify-carrinho",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-w4-001",
      "name": "Receber Carrinho Abandonado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "kiwify-carrinho"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\nconst event = body.event || body.status;\n\nif (!['abandoned_cart', 'order_abandoned'].includes(event)) {\n  return [];\n}\n\nconst rawName  = body.Customer?.name   || body.customer?.name   || '';\nconst rawPhone = body.Customer?.mobile || body.customer?.mobile || body.customer?.phone || '';\nconst email    = body.Customer?.email  || body.customer?.email  || '';\n\nconst firstName = rawName.trim().split(' ')[0] || 'Tutor';\nconst phone     = rawPhone.replace(/\\D/g, '');\n\nif (!phone || phone.length < 10) {\n  return [{ json: { skip: true, reason: 'no_phone', email } }];\n}\n\nreturn [{ json: { skip: false, firstName, phone, email } }];"
      },
      "id": "node-w4-002",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-w4-003",
      "name": "Tem Telefone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "node-w4-004",
      "name": "Aguardar 30 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        900,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_recuperacao_1\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w4-005",
      "name": "WhatsApp Recuperação 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "node-w4-006",
      "name": "Aguardar 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_recuperacao_2\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w4-007",
      "name": "WhatsApp Recuperação 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        220
      ]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "node-w4-008",
      "name": "Aguardar mais 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"dogflow_recuperacao_3\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"parameter_name\": \"customer_name\", \"text\": \"{{ $json.firstName }}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "node-w4-009",
      "name": "WhatsApp Recuperação 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        220
      ]
    }
  ],
  "connections": {
    "Receber Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Tem Telefone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Telefone?": {
      "main": [
        [
          {
            "node": "Aguardar 30 min",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aguardar 30 min": {
      "main": [
        [
          {
            "node": "WhatsApp Recuperação 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Recuperação 1": {
      "main": [
        [
          {
            "node": "Aguardar 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar 24h": {
      "main": [
        [
          {
            "node": "WhatsApp Recuperação 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Recuperação 2": {
      "main": [
        [
          {
            "node": "Aguardar mais 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar mais 24h": {
      "main": [
        [
          {
            "node": "WhatsApp Recuperação 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "dogflow"
    },
    {
      "name": "recuperacao"
    }
  ]
}