stacks/n8n/workflows/W5_WACRM_RESPONDER_MENSAGEM.json
{
  "name": "DogFlow — W5 WaCRM Responder Mensagem Recebida",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wacrm-eventos",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-w5-001",
      "name": "Receber do WaCRM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "wacrm-eventos",
      "notes": "Este é o workflow existente (ID FPBRVHXTg2b23LjE). URL: https://n8n.planopratico.shop/webhook/wacrm-eventos"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json?.body ?? $input.first().json;\n\nconst messageText      = (body.message_text || '').toLowerCase().trim();\nconst conversationId   = body.conversation_id || '';\nconst customerPhone    = body.customer_phone  || body.phone || '';\nconst customerName     = body.customer_name   || body.name  || '';\n\n// Detectar intenção simples\nlet intent = 'unknown';\nif (/acesso|senha|login|entrar/.test(messageText))   intent = 'acesso';\nif (/reembolso|devolv|cancelar/.test(messageText))   intent = 'reembolso';\nif (/n[aã]o.*funciona|n[aã]o.*tá|problema/.test(messageText)) intent = 'suporte';\nif (/obrigad|funcionou|deu certo/.test(messageText)) intent = 'satisfeito';\n\nreturn [{ json: { messageText, conversationId, customerPhone, customerName, intent } }];"
      },
      "id": "node-w5-002",
      "name": "Detectar Intenção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-acesso",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "acesso",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "acesso"
            },
            {
              "conditions": {
                "options": {
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cond-reembolso",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "reembolso",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reembolso"
            }
          ]
        },
        "options": {}
      },
      "id": "node-w5-003",
      "name": "Rotear por Intenção",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customerPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Oi {{ $json.customerName ? $json.customerName.split(' ')[0] : '' }}! 🐾\\n\\nPara acessar o DogFlow:\\n1. Verifique o e-mail de cadastro (assunto: \\\"Seu acesso ao DogFlow\\\")\\n2. Clique no link e crie sua senha\\n3. Acesse: app.planopratico.shop\\n\\nSe não encontrou o e-mail, verifique o spam. Qualquer dúvida, é só responder aqui!\"\n  }\n}",
        "options": {}
      },
      "id": "node-w5-004",
      "name": "Responder — Acesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WA_BUSINESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.customerPhone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Oi! Recebemos sua mensagem sobre reembolso. Você tem direito a 7 dias de garantia a partir da data da compra.\\n\\nEnvie seu pedido para o e-mail de suporte com o assunto \\\"Reembolso DogFlow\\\" e processamos em até 5 dias úteis.\\n\\nQualquer dúvida estamos aqui! 🐾\"\n  }\n}",
        "options": {}
      },
      "id": "node-w5-005",
      "name": "Responder — Reembolso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        420
      ]
    }
  ],
  "connections": {
    "Receber do WaCRM": {
      "main": [
        [
          {
            "node": "Detectar Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intenção": {
      "main": [
        [
          {
            "node": "Rotear por Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear por Intenção": {
      "main": [
        [
          {
            "node": "Responder — Acesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder — Reembolso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "dogflow"
    },
    {
      "name": "suporte"
    }
  ],
  "notes": "Substituir/atualizar o workflow existente FPBRVHXTg2b23LjE com esta versão mais completa."
}